/.vs
/Siteo.BLL/bin
/Siteo.BLL/obj
/Siteo.DAL/obj
/Siteo.DAL/bin
/Siteo.EFModel/obj
/Siteo.EFModel/bin
/Siteo.Frontend/obj
/Siteo.Frontend/bin
/Siteo.WebAPI/obj
/Siteo.WebAPI/bin
/Siteo.Common/obj
/Siteo.Common/bin
/Siteo.Frontend/Siteo.Frontend.csproj.user
/Siteo.WebAPI/Siteo.WebAPI.csproj.user
